/* hompage CTA button */

.cta-button {
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid;
  color: #ffffff;
  cursor: pointer;
  padding: 20px 60px;
  display: inline-block;
  margin: 15px 30px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cta-button span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
}

.cta-button a{
  color: #fff;
  text-shadow: 1px 1px 2px #1b1b1b;
}

.cta-button a:hover{
  color: #fff;
}

.cta-button i {
  font-size: 32px;
  right: 20px;
  bottom: 18px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cta-button:hover span,
.cta-button.hover span {
  -webkit-transform: translate3d(-10px, 0px, 0px);
  transform: translate3d(-10px, 0px, 0px);
  opacity: 1;
}

.cta-button:hover i,
.cta-button.hover i {
  opacity: 0.8;
}

.cta-button:active span {
  -webkit-transform: translate3d(-14px, 0px, 0px);
  transform: translate3d(-14px, 0px, 0px);
}

.cta-button:active i {
  right: 18px;
}

.cta-button.red {
  background-color: #962d22;
}
