.habit-tiles{
  width: 60%;
  margin: 0 auto 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #6a3c72;
  border: 2px solid #e6e6e6;
  padding: 1% 0 1% 1%;
  background: #fefffe;
  border-radius: 15px;
  box-shadow: 4px 4px 6px rgba(107, 107, 107, 0.4);
}

.habit-info {
  width: 100%;
  border-radius: 15px 0 0 15px;
  border-right: 2px solid;
  padding: 3%;
  position: relative;
  font-size: 1.2rem;
}

.habit-info h4{
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.fa-info-circle {
  position: absolute;
  bottom: 10%;
  font-size: 1.6rem;
  right: 4%;
}

.fa-info-circle{
  display: block;
  border: 2px solid transparent;
  border-radius: 50%;
}
.fa-info-circle:hover{
  border: 2px solid #c3c3c3;
}

.check-in{
  width: 30%;
  text-align: center;
  font-size: 2rem;
  padding: 5% 0%;
}

.check-in button{
  cursor: pointer;
}

.fa-check-square{
  color: #5a3362;
}

.fa-square{
  color: #6c6c6c;
}
