.habit-tile {
    width: 80%;
    border: 1px solid;
    margin: 2% auto;
    padding: 2%;
    position: relative;
}

.fa-info-circle {
    position: absolute;
    bottom: 10%;
    font-size: 1.4rem;
    right: 1%;
}
